<div id="wrapper">
  <div id="header">
    <div id="header-contents">
      <p id="header-contents__title">{{ title }}</p>
      <p id="header-contents__choose">{{ choose }}</p>
      <p id="header-contents__register">{{ register }}</p>
      <p id="header-contents__contact">{{ contact }}</p>
    </div>
  </div>
  <div id="article">
    <div id="article-main">
      <div id="article-main__heading">
        <div id="article-main__heading-contents">
          <h2 id="article-main__heading-contents--title">{{ title }}</h2>
          <p id="article-main__heading-contents--body">{{ body }}</p>
        </div>
      </div>
      <div id="article-main__grid">
        <div class="article-main__grid-contents"></div>
        <div class="article-main__grid-contents"></div>
        <div class="article-main__grid-contents"></div>
        <div class="article-main__grid-contents"></div>
        <div class="article-main__grid-contents"></div>
        <div class="article-main__grid-contents"></div>
        <div class="article-main__grid-contents"></div>
        <div class="article-main__grid-contents"></div>
      </div>
      <div id="article-main__nav">
        <div id="article-main__nav-contents">
          <p id="article-main__nav-contents--more">{{ more }}</p>
          <p id="article-main__nav-contents--consult">{{ consult }}</p>
        </div>
      </div>
    </div>
    <div id="article-feature">
      <div id="article-feature__contents">
        <div id="article-feature__contents-heading">
          <h2 id="article-feature__contents-heading--title">{{ heading.title }}</h2>
        </div>
        <div id="article-feature__contents-grid">
          <div class="article-feature__contents-grid--body">
            <h4>{{ feature.simple.title }}</h4>
            <p>{{ feature.simple.body }}</p>
          </div>
          <div class="article-feature__contents-grid--body">
            <h4>{{ feature.choose.title }}</h4>
            <p>{{ feature.choose.body }}</p>
          </div>
          <div class="article-feature__contents-grid--body">
            <h4>{{ feature.scene.title }}</h4>
            <p>{{ feature.scene.body }}</p>
          </div>
        </div>
        <div id="article-feature__contents-nav">

        </div>
      </div>
    </div>
  </div>
</div>
